
.audio-player-container {
    position: relative;
    width: 200px;
    height: 54px;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
}

.progress-slider {
    width: 80%;
}

.playIcon img {
    width: 32px;
    height: 32px;
}

.name {
    font-size: 14px;
}
